
@import "mixins";

body {
  @include background-image('sample'); // Image name would go here
}

p {
  @include font-size(14px);
}

.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  background-color: #ffff99;
  text-align: center;
  @include bp-small {
    width: 100%;
    float: none;
    margin: 0;
  }
}

@include keyframes(slide-down) {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}

a {
  color: gray;
  @include transition(color 0.3s ease);
  &:hover {
    color: black;
  }
}

.faded-text {
  @include opacity(0.8);
}

.floated-with-container {
  @extend %clearfix;
  background-color: lightgray; // Demo background
}

.visually-hidden {
  @extend %visually-hidden;
}
