/* line 4, ../sass/style.scss */
p {
  font-size: 14px;
  font-size: 0.875rem;
}

/* line 8, ../sass/style.scss */
.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  background-color: #ffff99;
  text-align: center;
}
@media only screen and (max-width: 30em) {
  /* line 8, ../sass/style.scss */
  .sidebar {
    width: 100%;
    float: none;
    margin: 0;
  }
}
