/* line 7, ../sass/_functions.scss */
.floated-with-container {
  *zoom: 1;
}
/* line 9, ../sass/_functions.scss */
.floated-with-container:before, .floated-with-container:after {
  content: " ";
  display: table;
}
/* line 13, ../sass/_functions.scss */
.floated-with-container:after {
  clear: both;
}

/* line 4, ../sass/style.scss */
body {
  background-image: url(../img/sample.svg);
}
/* line 34, ../sass/_mixins.scss */
.no-svg body {
  background-image: url(../img/sample.png);
}
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 34, ../sass/_mixins.scss */
  .no-svg body {
    background-image: url(../img/sample@2x/png);
  }
}

/* line 8, ../sass/style.scss */
p {
  font-size: 14px;
  font-size: 0.875rem;
}

/* line 12, ../sass/style.scss */
.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  background-color: #ffff99;
  text-align: center;
}
@media only screen and (max-width: 30em) {
  /* line 12, ../sass/style.scss */
  .sidebar {
    width: 100%;
    float: none;
    margin: 0;
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@-ms-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@-o-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
/* line 34, ../sass/style.scss */
.element {
  width: 100px;
  height: 100px;
  background: black;
  -webkit-animation: slide-down 5s 3;
  -moz-animation: slide-down 5s 3;
  -ms-animation: slide-down 5s 3;
  -o-animation: slide-down 5s 3;
  animation: slide-down 5s 3;
}

/* line 41, ../sass/style.scss */
a {
  color: gray;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 44, ../sass/style.scss */
a:hover {
  color: black;
}

/* line 49, ../sass/style.scss */
.faded-text {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 53, ../sass/style.scss */
.floated-with-container {
  background-color: lightgray;
}
